.MainContainer {
  .ListWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .GetTokenWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 40%;
  }
  
  .SearchResult {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .RepoItem {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  
  .AuthWrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .AuthLink, .AuthLink:hover {
    color: white;
  }

  li span {
    display: inline-block;
    width: auto;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

